* {
    margin: 0;
    padding: 0;
}

div {
    display: block;
    padding: 15px;
    border-bottom: 2px solid blue;
    text-align: center;
    background-color: black;
    color: white;
}

p {
    padding-top: 20px;
    background-color: skyblue;
}

footer {
    padding: 15px;
    text-align: center;
}
